@import '../ui/Colors.module'
.wrapper
  width: 95%
  max-width: 1024px
  height: 650px
  margin: 50px auto
  padding: 10px
  background-color: $light-wrap
  border-radius: 5px
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1), -1px -1px 5px 5px rgb(255,255,255)
.container
  width: 95%
  height: 100%
  margin: auto

@media (max-width: 768px)
  .wrapper
    height: auto
    width: 100%