@font-face{
  font-family: 'ElegantIcons';
  
  src: url('ElegantIcons/ElegantIcons.eot');
  src: url('ElegantIcons/ElegantIcons.eot?iefix') format('eot'),
  
  url('ElegantIcons/ElegantIcons.woff') format('woff'),
  url('ElegantIcons/ElegantIcons.ttf') format('truetype'),
  url('ElegantIcons/ElegantIcons.svg') format('svg');
  
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}