@import '../ui/Colors.module'
.block
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 0
.leftGroupBtn
  display: flex
  justify-content: center
  align-items: center
.btn
  border-radius: 5px
  font-size: 15px
  font-family: sans-serif
  padding: 10px 15px
  background-color: $green
  text-decoration: none
  color: #fff
  &:hover
    background-color: darken($green, 1%)
.btnIcon
  border: 1px solid $gray
  border-radius: 5px
